.card{
    height: 250px;
    width: 250px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20%;
    background-color: orange;
}